global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon
    ssl-default-bind-curves X25519:prime256v1:secp384r1
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers ssl-min-ver TLSv1.3 no-tls-tickets

    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options ssl-min-ver TLSv1.3 no-tls-tickets
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend tls_front
    bind *:443

    tcp-request inspect-delay 3s
    tcp-request content capture req.ssl_sni len 30

    # Xray mobile
    use_backend xray_mobile if { req_ssl_sni -i icloud.com }

    # Xray desktop
    use_backend xray_desktop if { req_ssl_sni -m end .sslip.io }

    # MTProxy
    use_backend mtproxy if { req_ssl_sni -m end .nip.io }

    # SSH (no SNI, non TLS protocol)
    use_backend ssh if !{ req.ssl_hello_type 1 } { payload(0,7) -m bin 5353482d322e30 } or !{ req.ssl_hello_type 1 } { req.len 0 } #use_backend tcp-ssh if !{ req.ssl_hello_type 1 } { req.len 0 }


    # MTProxy reserve
    default_backend mtproxy

# --- PROXY protocol on ---
backend xray_mobile
    server s1 127.0.0.1:6443 send-proxy-v2

backend xray_desktop
    option tcp-check
    server s1 127.0.0.1:9443 send-proxy-v2 check
    server nginx 127.0.0.1:5443 send-proxy-v2 backup

# --- PROXY protocol off ---
backend mtproxy
    server s1 127.0.0.1:8443

backend ssh
    server s1 127.0.0.1:22
