#foreground: true;
#transparent: true;
timeout: 2;
#user: "sslh";

listen:
(
    { host: "0.0.0.0"; port: "443"; },
    { host: "0.0.0.0"; port: "80"; keepalive: true; }
);

protocols:
(
     { name: "ssh"; service: "ssh"; host: "localhost"; port: "22"; },
     { name: "http"; host: "localhost"; port: "5000"; },
     { name: "anyprot"; host: "localhost"; port: "8443"; }
);

# vim:set ts=4 sw=4 et:
