# This is a basic configuration file that should provide
# sensible values for "standard" setup.

# You will find extensive examples with explanations in
# example.cfg in /usr/share/doc/sslh folder

timeout: 2;


# Change hostname with your external address name, or the IP
# of the interface that receives connections
listen:
(
    { host: "0.0.0.0"; port: "443"; },
    { host: "0.0.0.0"; port: "80"; }
);


# Change to the protocols you want to forward to. The
# defaults here are sensible for services running on
# localhost
protocols:
(
     { name: "ssh"; service: "ssh"; host: "localhost"; port: "22"; fork: true; },
     { name: "http"; host: "localhost"; port: "5000"; },
     { name: "anyprot"; host: "localhost"; port: "8443"; }
);
