[Unit]
Description=Run Telegram Report Daily at 23:59

[Timer]
OnCalendar=*-*-* 23:59:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
