[Unit]
Description=Refresh pacman and AUR updates with Update
Documentation=https://github.com/nebulosa2007/instance/tree/main/update
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
ExecStart=/usr/local/bin/updpkgs

[Install]
WantedBy=multi-user.target
