[Unit]
Description=Timer for update all package bases
Documentation=https://github.com/nebulosa2007/instance/tree/main/update
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=12,23:00
Persistent=true

[Install]
WantedBy=timers.target
